modules = ["nodejs-20"]
run = "npm i && npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm i && npm run start"]

[workflows]
runButton = "Run CLI Tester"

[[workflows.workflow]]
name = "Run CLI Tester"
author = 39969332

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx ts-node cliTester.ts"
